
NEXT_PUBLIC_SITE_URL=https://www.flexozy.online

AUTH_SECRET=V7q!mK2#xR9@pL4$zN8%wC6&fT3*eH1^sD5
AUTH_URL=https://www.flexozy.online

AUTH_DISCORD_ID=1499108630325366905
AUTH_DISCORD_SECRET=5istnjswis4v-rzIv9aUsMA5RUEM3qRA


ADMIN_DISCORD_IDS=1429501061877469304

POSTGRES_URL=

NEXT_PUBLIC_GA_MEASUREMENT_ID=
GA_MEASUREMENT_PROTOCOL_API_SECRET=
